// Text Mixins
@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin multi-line-ellipsis($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

// Responsive Mixins
@mixin pc {
  @media (min-width: 1180px) {
      @content;
    }
}

@mixin mobile {
  @media (max-width: 1179px) {
    @content;
  }
}

// Hover Mixins
@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin background-overlay($color, $image-url, $gradient-width: 30%) {
  z-index: 0;
  position: relative;
  background-color: $color;
  background-size: contain;
  background-image:
    linear-gradient(to bottom, $color 5%, transparent 50%),
    linear-gradient(to right, $color $gradient-width, transparent 100%),
    linear-gradient(to left, $color 0%, transparent 50%),
    url($image-url);
}

@mixin background-overlay-circle($color, $image-url, $gradient-width: 40%) {
  z-index: 0;
  position: relative;
  background-color: $color;
  background-size: contain;
  background-image:
      radial-gradient(circle, $color 40%, transparent 200%),
      url($image-url);
}

@mixin profile-image {
  border-radius: 50%;
  border: 1px solid var(--gray-alpha-300);
}

@mixin shimmer($border-radius: 0.5rem) {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $border-radius;
    background: linear-gradient(45deg, transparent 30%, rgba(255, 255, 255, 0.2) 50%, transparent 70%);
    animation: shimmer 2s ease-in-out infinite;
  }
}